include threed_strudel/lib/strudel/penultimate_lib.json
include threed_strudel/lib/strudel/rotamer_bounds_lib.json
include threed_strudel/average/inp/global_reference.pdb
include threed_strudel/lib/molprobity/rota8000-arg.data
include threed_strudel/lib/molprobity/rota8000-asn.data
include threed_strudel/lib/molprobity/rota8000-asp.data
include threed_strudel/lib/molprobity/rota8000-cys.data
include threed_strudel/lib/molprobity/rota8000-pro.data
include threed_strudel/lib/molprobity/rota8000-met.data
include threed_strudel/lib/molprobity/rota8000-ile.data
include threed_strudel/lib/molprobity/rota8000-phe.data
include threed_strudel/lib/molprobity/rota8000-lys.data
include threed_strudel/lib/molprobity/rota8000-glu.data
include threed_strudel/lib/molprobity/rota8000-gln.data
include threed_strudel/lib/molprobity/rota8000-his.data
include threed_strudel/lib/molprobity/rota8000-leu.data
include threed_strudel/lib/molprobity/rota8000-ser.data
include threed_strudel/lib/molprobity/rota8000-thr.data
include threed_strudel/lib/molprobity/rota8000-trp.data
include threed_strudel/lib/molprobity/rota8000-tyr.data
include threed_strudel/lib/molprobity/rota8000-val.data